<li id="gif_id_<%=gif.id%>" data-votecount=<%=gif.votes.count %>>
  <h5><%= link_to "#{gif.title}", gif_path(gif) %></h5>
  <%= button_to "Like", gif_votes_path(gif), :remote => true %>
  <img src=<%= gif.link %> alt=<%= gif.title %> href=<%= gif.link %> height="265" width="265">
</li>