
<div class="container">
    <div class="well well-lg">

    <h2><%= @gif.title %></h2>

    <p><img src=<%= @gif.link %> ></p>

    <p>
    <%= form_for [@gif, @gifcomment], :remote => true do |f| %>
      <%= hidden_field_tag 'gif_id', @gif.id %>
      <%= f.text_field :link, :placeholder => "Your response URL" %>
      <%= f.submit "Submit Your Gif" %>
    <% end %>
    </p>
    <div id='rendergifcomments'>

      <%= render 'gifcomments/postgifcomments', gifshow: @comments %>

    </div>
  </div>
</div>
