
<div class="container">
  <div class="well well-lg">

    <h2><%= @user.username %>'s Info</h2>

    <p>
      Username: <%= @user.username %> <br>
      Email: <%= @user.email %>
    </p>
  </div>
</div>

<div class="container">
  <div class="well well-lg">

    <h3>Update your info</h3>

    <% if is_user? %>
      <%= form_for @user do |f| %>

        <div class="col-lg-10" id="input_pad">
        <%= f.text_field :username, :value => nil, :placeholder => "New username", class: "form-control", id: "inputEmail" %>
        </div>

        <div class="col-lg-10" id="input_pad">
        <%= f.text_field :email, :value => nil, :placeholder => "New email", class: "form-control", id: "inputEmail" %>
        </div>

       <div class="col-lg-10" id="input_pad">
        <%= f.password_field :password, :placeholder => "New password", class: "form-control", id: "inputEmail"%>
        </div>
  
        <div class="col-lg-10 col-lg-offset-2" >
          <button type="submit" class="btn btn-primary">Update info</button>
        </div>

      <% end %>
    <% else %>
      <p>
        You can only edit your own profile. :(
      </p>
    <% end %>
  </div>
</div>
